<header>
  <h1><a href="/">Site Name</a></h1>
  <nav>
    <ul>
      <li class="home">
        <a href="/">Home</a>
      </li>
      <li class="form-demo">
        <a href="/form-demo">Form Demo</a>
      </li>
    </ul>
  </nav>
</header>
