// Global styles
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  text-rendering: optimizeLegibility;

  > * {
    width: 100%;
  }
}

a.primary-action,
li.primary-action a,
li.primary-action input {
  display: inline-block;
  min-width: 26rem;
  padding: 1.6rem 3rem;
  font-family: Lato, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0.1rem 0.2rem #333333;
  background-image: linear-gradient(0deg,#737373,#a6a6a6);
  border-radius: 0.4rem;
}

p.error {
  padding: 2rem;
  color: white;
  text-align: center;
  background: red;
  border-radius: 0.6rem;
}

// Override default width or height caused by alt attributes in unloaded images
// Coincides with app.global.imageLoad() in global.js
img[data-src]:not(.loaded) {
  @media only screen and (max-width: 767px) {
    height: 100%;
  }
  @media only screen and (min-width: 768px) {
    width: 100%;
  }
}

// Main header
body {
  > header {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 0.8rem 0;
    font-size: 1.8rem;
    background-image: linear-gradient(-180deg, #ffffff 33%, #f7f7f7 100%);
    border-top: 0.4rem solid #dbdbdb;
    border-bottom: 0.1rem solid #ededed;

    h1 {
      padding: 1.4rem;
      font-size: 2.8rem;
      letter-spacing: 0.4px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;

      a {
        color: #595959;
        text-decoration: none;
      }
    }

    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      li {
        margin: 0.2rem 0.4rem;

        a {
          display: block;
          padding: 0.8rem 1.2rem;
          text-decoration: none;
          color: #595959;
        }
      }
    }
  }

  > header nav li a:hover,
  &[data-controller="index"] > header nav li.home a,
  &[data-controller="form-demo"] > header nav li.form-demo a {
    background: #ebebeb;
    border-radius: .4rem;
  }
}

// Main content
main {
  flex: 1 1 auto;
  color: #333333;

  section {
    margin: 2rem;
  }
}

@keyframes loading-indicator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Mask for zoomed images
#mask {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s;
  background: hsla(0,0%,0%,0.95);
  // Use a slightly more opaque background if backdrop-filter isn't supported
  background-color: hsla(0,0%,0%,0.9);
  @supports(backdrop-filter: saturate(180%) blur(0.5rem)) {
    background-color: hsla(0,0%,0%,0.8);
    backdrop-filter: saturate(180%) blur(0.5rem);
  }

  &.loading {
    &::before {
      content: '';
      display: block;
      width: 10rem;
      height: 10rem;
      position: absolute;
      top: calc(50% - 5rem);
      left: calc(50% - 5rem);
      border: 0.8rem solid #efefef;
      border-top-color: #666666;
      border-bottom-color: #666666;
      border-radius: 50%;
      animation: loading-indicator 1.25s ease 8;
    }
  }

  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    object-fit: contain;
  }

  &.enabled {
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 2rem;
    z-index: 1000;
    opacity: 1;
  }

  &.closing {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

// Open image in new tab
#mask-open-tab {
  width: 3rem;
  height: 3rem;
  padding-left: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 6rem;
  background: url('/images/icons.svg') no-repeat;
  background-size: auto 2rem;
  background-position: -10.2rem 0.5rem;
  overflow: hidden;
}

// Close mask button
#mask-close {
  width: 3rem;
  height: 3rem;
  padding-left: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: url(/images/icons.svg) no-repeat;
  background-size: auto 2rem;
  background-position: -12.8rem 0.5rem;
  overflow: hidden;
}

a.new-tab {
  display: block;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    background: url('/images/icons.svg') no-repeat;
    background-size: cover;
    background-position: -32rem 0;
    opacity: 0;
    transition: opacity 0.2s;
  }

  img {
    transition: filter 0.2s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
    img {
      filter: brightness(50%);
    }
  }
}

footer {
  margin: 4rem 0 0;
  padding: 2rem;
  color: #5c5c5c;
  text-align: center;
  background: #f0f0f0;
  border-top: .1rem solid #e6e7e4;

  p.quote {
    margin: 2rem auto 4rem;
    font-style: italic;

    span.byline {
      font-style: normal;
    }
  }
  
  p.copyright {
    margin: 0;
    font-size: 1.4rem;
  }
}

// 768px and up
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;

    > header nav li a:hover,
    &[data-controller="index"] > header nav li.home a,
    &[data-controller="form-demo"] > header nav li.form-demo a {
      position: relative;
      background: none;
  
      &::after {
        content: '';
        display: block;
        width: calc(100% - 3rem);
        height: 0.3rem;
        position: absolute;
        bottom: 0;
        left: 1.5rem;
        background: #808080;
      }
    }

    > header nav li a:hover::after {
      background: #cccccc !important;
    }
  }

  // Main header
  body > header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100% - 140rem) / 2);
    font-size: 1.6rem;

    h1 {
      margin: 0 1rem;
      padding: 1rem;
      font-size: 2rem;
    }

    nav {
      ul {
        margin-right: 0.5rem;

        li {
          margin: 0;

          a {
            padding: 2rem 1.5rem 1.9rem;
          }
        }
      }
    }
  }

  main {
    max-width: 96rem;
    margin: auto;
  }

  html.js {
    body {
      > header {
        position: fixed;
        z-index: 500;
        transition: margin 0.3s;
      }
      &.hidden-header > header {
        margin-top: -6rem; // Header height
      }
    }

    main {
      padding-top: 6rem !important;
    }
  }
}

// 960px and up
@media only screen and (min-width: 960px) {
  body > header {
    // 96rem + 2rem margin/padding on either side = 100rem
    padding: 0 calc((100% - 100rem) / 2);
  }
}

// 1000px and up
@media only screen and (min-width: 1000px) {
  main {
    section {
      margin: 2rem 0;
    }
  }

  a.primary-action,
  li.primary-action a {
    padding: 1.4rem 2.4rem;
  }

  footer {
    margin-top: 8rem;
  }
}


// Forms
form {
  label {
    margin-bottom: 0.6rem;
    line-height: 1;
  }
  p.label-note {
    margin: 0.4rem 0 0.6rem;
    font-size: 90%;
  }
  input:not([type="submit"]),
  select,
  textarea {
    width: 100%;
    padding: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    border: 0.1rem solid #cccccc;
    border-radius: 0.4rem;
    box-shadow: inset 0 0 0 0 #efefef;
    transition: box-shadow 0.2s;

    &[type="submit"] {
      border: none;
    }
    &:focus {
      outline: none;
      box-shadow: inset 0 0 0.4rem 0.4rem #efefef;
    }
  }

  textarea {
    line-height: 1.5;
  }

  input[type="checkbox"],
  input[type="radio"] {
    flex: 0 0 3rem;
    height: 3rem;
    position: relative;
  }

  input[type="checkbox"] {
    &:checked {
      background: url('/images/icons.svg') no-repeat;
      background-size: auto 2.4rem;
      background-position: -9.4rem 0.2rem;
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:checked {
      &::after {
        content: '';
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
        border-radius: 50%;
      }
    }
  }
  ul.data {
    margin: 0;

    & > li {
      margin: 0.6rem 0 2.4rem;
      list-style: none;

      &:last-child {
        margin-bottom: 0.6rem;
      }
      &.text,
      &.textarea,
      &.select {
        label {
          display: block;
        }
      }
      &.select {
        position: relative;

        &::after {
          content: '';
          display: block;
          width: 1.2rem;
          height: 2.4rem;
          position: absolute;
          right: 0.6rem;
          bottom: 1.5rem;
          background: url('../images/select.svg') center no-repeat;
          background-size: cover;
        }
      }
      &.checkbox,
      &.radio {
        display: flex;
        align-items: center;

        label {
          margin: 0 0 0 1.2rem;
          font-size: 100%;
          line-height: 1.3;
        }
      }

      ul.data {
        margin: 2.4rem 0;

        ul.data {
          & > li {
            flex-wrap: nowrap;
            margin: 1.2rem 0;

            ul.checkbox,
            ul.radio {
              margin-top: 0.6rem;
            }
          }
        }
      }
      ul.checkbox,
      ul.radio {
        & > li {
          margin: 0.4rem 0 0.6rem;
        }
      }
    }
  }
  ul.actions {
    margin: 0;
    padding: 2.4rem 0;
    text-align: center;

    & > li {
      display: block;
      margin-bottom: 1.2rem;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  form {
    max-width: 40rem;
    margin: auto;
  }

  li.primary-action input {
    width: auto;
  }
}
